[Desktop Entry]
Encoding=UTF-8
Name=Fartcoin
Comment=Fartcoin P2P Cryptocurrency
Exec=fartcoin-qt %u
Terminal=false
Type=Application
Icon=fartcoin128
MimeType=x-scheme-handler/fartcoin;
Categories=Office;Finance;
Name[en_US]=fartcoin-qt.desktop
