*.tar.gz

*.exe
src/fartcoin
src/fartcoind
src/fartcoin-cli
src/test/test_fartcoin
src/qt/test/test_fartcoin-qt

aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/bitcoin-config.h
src/bitcoin-config.h.in
src/build-aux/
src/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

db-5.1.29.NC/*
db5/*
fartcoin-seeder/*


.deps
.dirstamp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
*.patch
.fartcoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
fartcoin-qt
Fartcoin-Qt.app

# Unit-tests
Makefile.test
fartcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_fartcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb*/Makefile

contrib/macbuild/boost/
*.hpp

*.ipp

*.xcuserstate

*.xcscheme

contrib/macbuild/fartcoind.xcodeproj/xcuserdata/alan.xcuserdatad/xcschemes/xcschememanagement.plist
