[Unit]
Description=Fartcoin's distributed currency daemon
After=network.target

[Service]
User=fartcoincore
Group=fartcoincore

Type=forking
PIDFile=/var/lib/fartcoind/fartcoind.pid
ExecStart=/usr/bin/fartcoind -daemon -pid=/var/lib/fartcoind/fartcoind.pid \
-conf=/etc/fartcoincore/fartcoin.conf -datadir=/var/lib/fartcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
